In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
salary_df = pd.read_csv('./salary-data.csv')

In [3]:
y = salary_df['Salary']
x = salary_df['YearsExperience']

In [4]:
salary_df.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.978242
Salary                  0.978242  1.000000

In [5]:
r = 0.978242
b_1 = r * ( y.std() / x.std() )
b_0 = y.mean() - (b_1 * x.mean())

y_hat = b_0 + (b_1 * x)

In [6]:
y_bar = y.mean()

numerator = 0
denominator = 0
ratio = 0

for i,v in enumerate(y):
    numerator += (y[i]-y_hat[i])**2
    denominator +=  (y[i]-y_bar)**2

ratio = numerator/denominator
r2 = 1 - ratio
print(r2)

0.956956664143363

In [8]:
n = len(y)
for i,v in enumerate(y):
    numerator += (y_hat[i]-y[i])**2
    denominator = n

ratio = numerator/denominator
rmse = ratio**0.5
rmse

9685.70364853066

In [11]:
salary_df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000