In [1]:
# Import libraries and data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

from scipy.special import expit, logit

import random

In [7]:
# Generate random data that is normally distributed

# Create a list of random numbers between 1 and 50
X = [x for x in range(1,51)]

# Convert to NumPy array
X = np.array(X)

# Increase dimensionality of X by 1 for arithmetic purpose
X = X[:, np.newaxis]

In [8]:
# Instantiate a method of the Scaler class.

# The StandardScaler will standardize the  normally distributed data
scaler = StandardScaler()

In [9]:
# Standardize the data (transform) and remember (fit) the constants
# to later undo the transformation
X = scaler.fit_transform(X)

In [17]:
# All the x's that are greater than mean will be classed 1 and 0 if less than mean
# Note: the parenthesis are used to emphasize order-of-operations
Y = (X > X.mean()).astype(int)

In [21]:
# Convert to DataFrame
data_dict = {
    'feature': X.ravel(),
    'label': Y.ravel() 
}

data_df = pd.DataFrame(data_dict)

In [24]:
data_df.tail()

     feature  label
45  1.420566      1
46  1.489862      1
47  1.559158      1
48  1.628453      1
49  1.697749      1

In [25]:
# Split the data into train and test
X_train, X_test, Y_train, Y_test = train_test_split(
    X, 
    Y,                
    test_size=0.4,    # 40% of data for test, 60% for train
    shuffle=True      # Randomize the data
)