# Mod 2 - Python Tutorial

1. Variables
2. Functions
3. Control Statements
4. Data Types
5. Classes

### Built-in functions

In [2]:
# built-in function
# print("Hello there!")
print(1 + 1)

2

In [4]:
"AstroLabs Lakeside, R5, Cluster R, JLT, Dubai, UAE"

'AstroLabs Lakeside, R5, Cluster R, JLT, Dubai, UAE'

### Variables

In [13]:
# variables
old_price = 5000
new_price = 3000

In [11]:
# Rules for Naming Variables
# 1. Always start with a lowercase letter
# 2. No special characters except for _
# 3. Do not name after reserved keywords
# 4. Use either "camelCase" or "snake_case" convention


# theOldPrice       (camel case)
# the_old_price     (snake case)

In [15]:
old_price - new_price

2000

### Control Statements
1. If/else Statement
2. While Loop
3. For Loop

In [ ]:
# Operators
# =             Assignment
# +
# -
# *
# /
# ==            Comparison
# <             Less than
# >             Greater than
# <=            Less than or equal
# >=            Greater than or equal
# %             Modulo
# and           Logical AND
# or            Logical OR
# not           Logical NOT
# !             Logical NOT
# +=            Increment
# -=            Decrement

In [19]:
asset_price = 500
budget = 100

if asset_price <= budget:
    print("Purchase asset")
else:
    print("Don't purchase asset")

Purchase asset

In [11]:
# Apple iPhone 14, Samsung S23, Nokia 3310
# 5000, 4200, 1100

user_selection = "Nokia 3310"

if user_selection == "Apple iPhone 14":
    print(5000)

elif user_selection == "Samsung S23":
    print(4200)

elif user_selection == "Nokia 3310":
    print(1100)
    
else:
    print("Not available")

1100

In [14]:
# Python Exercise 1
price1 = 350
price2 = 200
price3 = 500

# 1. Calculate the mean average of price1, price2, price3 
# 2. Assign the value of the mean average to 'mean_average' variable
# 3. If the mean average is less than 200, print the letter "A".
#    Otherwise, if the mean average is above 200, print the letter "B".


# Hint: Outline of your solution


mean_average = (price1 + price2 + price3) / 3

if mean_average <= 200 :
    print("A")
else:
    print("B")

B

In [18]:

index = 1
while index <= 10:
    print(index)
    index = index + 1

1
2
3
4
5
6
7
8
9
10

### Data Structures

In [2]:
# list
prices =  [
    450,            # 0
    300,            # 1
    1000,           # 2
    800,            # 3
    200,            # 4
    1900            # 5
]

In [3]:
prices[5]

1900

In [4]:
prices[2] + prices[0]

1450

$\displaystyle \sum\limits_{i=0}^{5} \text{prices}_{i} = \text{prices}_{0} + \text{prices}_{1} + ... \text{prices}_{n} = \text{total}$

In [26]:
prices[0] + prices[1] + prices[2] + prices[3] + prices[4] + prices[5]

4650

In [37]:
total = 0
for value in prices:
    total += value


print(total)

4650

In [12]:
# Exercise 2

# 1. Use the while loop to print the value of every element
#    in the 'prices' list

# 2. Update your solution to sum over all the values in
#    the 'prices' list. The sum of values must be assigned
#    the 'total' variable


prices =  [
    450,            # 0
    300,            # 1
    1000,           # 2
    800,            # 3
    200,            # 4
    1900            # 5
]


total = 0
index = 0
while index <= 5:
    total += prices[index]
    index += 1
print(total)

4650

In [20]:
for index,value in enumerate(prices):
    if index <= 2:
        print(value)

450
300
1000

In [ ]:
# Exercise 3

alphabet = ['A','B','C','D','E','F']


# 1. Use the for loop to print the value of each element in 'alphabet'

# 2. Update your solution in (1) to skip the letter 'A' and 'F'

# 3. Update your solution again to print 'Dubai' when the index reaches '3'

# Hint:
# For (2) and (3) use the enumerate function to extract both index and value from 'alphabet'
# For (2) and (3) use the logical operator 'and'

# For example,
# if i > 0 and i < 5:
# ...

In [ ]:
# List Methods
# Reference:
# https://www.w3schools.com/python/python_ref_list.asp

# .append()
# .insert()
# .remove()
# .pop()
# .sort()

In [26]:
alphabet = ['B','C','E','F']

alphabet.append("G")
print(alphabet)

['B', 'C', 'E', 'F', 'G']

In [27]:
alphabet.insert(0,"A")
alphabet

['A', 'B', 'C', 'E', 'F', 'G']

In [28]:
alphabet.insert(3,"D")
alphabet

['A', 'B', 'C', 'D', 'E', 'F', 'G']

In [29]:
alphabet.pop()
alphabet

['B', 'C', 'D', 'E', 'F', 'G']

In [31]:
alphabet.pop(alphabet.index('G'))
alphabet

['B', 'C', 'D', 'E', 'F']

### Bash

In [34]:
!curl -o supermarket-sales.csv -H "Accept: application/csv" -X GET https://raw.githubusercontent.com/danyentezari/bignumber-material/master/SPML%20Dubai/mod1/supermarket-sales.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  128k  100  128k    0     0  85273      0  0:00:01  0:00:01 --:--:-- 85241

In [62]:
!python3 -m pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/workshop/Library/Python/3.9/lib/python/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in /Users/workshop/Library/Python/3.9/lib/python/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /Users/workshop/Library/Python/3.9/lib/python/site-packages (from pandas) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/workshop/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /Users/workshop/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
WARNING: You are using pip version 20.2.3; however, version 23.0.1 is available.
You should consider upgrading via the '/usr/local/bin/python3 -m pip install --upgrade pip' command.

In [63]:
import csv
import pandas as pd

In [36]:
# Read data into memory (temporary storage)
sales_data_file = open('./supermarket-sales.csv')

In [37]:
# Process the data file as a Python list
sales_data = list(csv.reader(sales_data_file))

In [38]:
# Number of rows
len(sales_data)

1001

In [60]:
# First row
sales_data[0]

['750-67-8428',
 'A',
 'Yangon',
 'Member',
 'Female',
 'Health and beauty',
 '74.69',
 '7',
 '26.1415',
 '548.9715',
 '1/5/2019',
 '13:08',
 'Ewallet',
 '522.83',
 '4.761904762',
 '26.1415',
 '9.1']

In [40]:
# Number of columns
len(sales_data[0])

17

In [65]:
# This time, read CSV using Pandas
sales_data_df = pd.read_csv('./supermarket-sales.csv')

In [66]:
sales_data_df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [67]:
sales_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Invoice ID               1000 non-null   object
 1   Branch                   1000 non-null   object
 2   City                     1000 non-null   object
 3   Customer type            1000 non-null   object
 4   Gender                   1000 non-null   object
 5   Product line             1000 non-null   object
 6   Unit price               1000 non-null   float64
 7   Quantity                 1000 non-null   int64
 8   Tax 5%                   1000 non-null   float64
 9   Total                    1000 non-null   float64
 10  Date                     1000 non-null   object
 11  Time                     1000 non-null   object
 12  Payment                  1000 non-null   object
 13  cogs                     1000 non-null   float64
 14  gross margin percentage  1000 non-null   float64
 15  gross income             1000 non-null   float64
 16  Rating                   1000 non-null   float64
dtypes: float64(7), int64(1), object(9)
memory usage: 132.9+ KB